* {
    color: white;
    background: black;
}

div {
    width: 50%;
    margin-left: 25%;

    h1 {
        text-align: center;
    }

    img {
        width: 100%;
        border: 5px solid white;
    }
    
    p {
        text-align: center;
    }
}


/* ol {
    margin-left: -40px;
    margin-top: -20px;
    list-style: inside;
}

p {
    color: red;
}

.note {
    font-size: 20px;
}

#id-selector-demo {
    color: green;
}

li[value="4"] {
    color: blue;
}

* {
    text-align: center;
} */

/* h3 {
    font-size: 20px;
    font-weight: normal;

    &[value="red"] {
        color: red;
    }

    &[value="blue"] {
        color: blue;
    }

    &[value="yellow"] {
        color: yellow;
    }

    &[value="green"] {
        color: green;
    }

    &[value="brown"] {
        color: brown;
    }
} */

/* div {
    width: 100px;
    height: 100px;
    
    &[value="red"] {
        background: red;
    }
    
    &[value="blue"] {
        background: blue;
    }
    
    &[value="yellow"] {
        background: yellow;
    }
    
    &[value="green"] {
        background: green;
    }
    
    &[value="brown"] {
        background: brown;
    }
} */

